@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;

}

.container_cookies{
    width: 1600px;
    margin: auto;
}

.subContainer_cookies{
    width: 85%;
    margin: auto;
}   

#cookies{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    
}


.cookies{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies a{
    color: yellow;
    font-weight: 500;
    text-decoration: none;
}

.cookies h3{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

#cookies_Btn{
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(211, 90, 10);
    color: white;
}

@media(max-width:1600px){
    .container_cookies{
        width: 100%;
    }
}

@media(max-width:1024px){
    .cookies{
        padding: 10px 0px;
    }
}





